@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|Open+Sans');

:root {
  --default-width: 1000px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  --top-header-height: 50px;
  --top-padding: calc(var(--top-header-height) + 10px);
  --top-name-width: 150px;
  --top-name-width-fcc-test: 80vw;
}

@media (min-width: 250px) {
  :root {
    --top-name-width-fcc-test: 200px;
  }
}

body {
  margin: 0;
}

main {
  margin: 0;
}

main>section {
  padding-bottom: 50px;
  min-height: 100vh;
  box-sizing: border-box;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.25em;
}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

p {
  text-align: justify;
  margin: 16px auto;
  width: var(--default-width);
  max-width: 90%;
}

#navbar,
#nav {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: var(--top-header-height);
  width: 100%;
  background-color: #333;
  color: #EEF;
  display: grid;
  grid-template-columns: var(--top-name-width) auto;
}

#nav-button {
  justify-self: end;
  align-self: center;
  margin-right: 8px;
  width: 32px;
  height: 32px;
}

#nav {
  position: fixed;
  top: var(--top-header-height);
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: #393939;
  height: 0;
  overflow: hidden;
  padding-bottom: 5px;
  font-family: 'Open Sans', sans-serif;
}

#nav a {
  font-size: 12pt;
  color: white;
  text-decoration: none;
}

#nav a:hover,
#nav a.active {
  color: #e31b3c;
}

#navbar nav ul,
#navbar ul li {
  display: block;
  padding: 0;
  margin: 0;
}

#navbar nav ul li a {
  display: block;
  padding: 8px 20px 8px 20px;
}

#nav {
  transition: height 0.4s cubic-bezier(0, 1, 0.5, 1);
}

.nav-visible {
  height: 101px !important;
}

@media (min-width: 550px) {
  #nav-button {
    display: none;
  }

  #nav {
    position: static;
    width: 100%;
    background: none;
    box-shadow: none;
    justify-self: end;
    width: 100%;
    max-width: 500px;
    height: var(--top-header-height);
  }

  #navbar nav>ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  #navbar nav ul li a {
    line-height: var(--top-header-height);
    padding: 0 15px 0 15px;
    text-align: center;
  }
}

main>section>h1:first-child {
  padding-top: var(--top-padding);
  margin-top: 0;
}

#welcome-section,
#contact-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

#welcome-section {
  background-color: #ccd;
}

#about-section {
  background-color: #eef;
}

#name {
  text-align: right;
  width: var(--top-name-width);
  line-height: var(--top-header-height);
  padding-right: 25px;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

#name a {
  text-decoration: none;
  color: white;
}

#intro {
  height: 27.5vw;
  font-size: 4vw;
  text-align: center;
  vertical-align: middle;
  font-family: 'Lato', sans-serif;
}

@media (min-width: 400px) {
  #intro {
    height: 110px;
    font-size: 16px;
  }
}

#intro h1 {
  margin: 0;
  font-size: 3em;
  color: #113;
}

#intro h2 {
  margin: 0;
  font-size: 1.75em;
  color: #335;
}

#intro h3 {
  margin: 0;
  font-size: 0.9em;
  border-top: 1px solid #668;
  border-bottom: 1px solid #668;
  line-height: 1.2em;
  color: #668;
}

img#self-photo {
  border-radius: 40%;
  box-shadow: 0px 4px 6px 2px #d3d3d3;
  display: block;
  margin: 40px auto;
  max-width: 284px;
  width: 90%;
}

#brand {
  font-style: italic;
  font-size: 1.2em;
  text-align: center;
  font-weight: 600;
  margin: 0 auto;
  padding: 0 20px;
  width: calc(var(--default-width) * 0.8);
  max-width: 80%;
}

#skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: var(--default-width);
  margin: 0 auto;
  /* border: 1px solid black; */
}

div.skill,
#profiles div {
  width: 100px;
  height: 120px;
  text-align: center;
  /* border: 1px solid black; */
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 80px auto;
  justify-items: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

div.skill>img,
#profiles img {
  max-width: 80px;
  max-height: 80px;
}

#profiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#profiles div {
  width: 80px;
  height: 100px;
  text-align: center;
  /* border: 1px solid black; */
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 60px auto;
  justify-items: center;
  align-items: center;
}

#profiles img {
  max-width: 60px;
  max-height: 60px;
}

#profiles a {
  text-decoration: none;
  margin: 0 20px;
  color: black;
}

#profiles a:hover {
  font-weight: bolder;
  color: #e31b3c;
}

#projects-section {
  background-color: #bbc;
}

#contact-section {
  background-color: #889;
}

#profiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#profiles div {
  width: 100px;
  height: 120px;
  text-align: center;
  /* border: 1px solid black; */
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 80px auto;
  justify-items: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

#profiles img {
  max-width: 80px;
  max-height: 80px;
}

#profiles img {
  max-width: 60px;
  max-height: 60px;
}

#profiles a {
  text-decoration: none;
  margin: 0 20px;
  color: black;
}

#profiles a:hover {
  font-weight: bolder;
  color: #e31b3c;
}
